In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv(r'E:\Data Analyst Bootcamp\python-projects\titanic-eda\data\train.csv')

explore the data

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()
# age_null=177
# cabin_null=687
# embrked_null=2

In [ ]:
pd.set_option('display.float_format','{:.2f}'.format)

In [ ]:
df.describe()

clean the data

In [ ]:
df["Survived"]=df["Survived"].apply(lambda x:'Yes' if x==1 else 'No')

In [19]:
df['Age']=df['Age'].apply(lambda x:
                        np.mean(df['Age'] )
                        if pd.isna(x)
                        else x)

In [37]:
df['Cabin'].fillna('Unknown',inplace=True)

In [42]:
df['Embarked'].mode()
df['Embarked'].fillna('S',inplace=True)

In [ ]:
# int(np.mean(df['Age']))
# np.std(df['Age'])
# np.mean(df['Fare'])

np.float64(32.204207968574636)

In [43]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,No,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,Unknown,S
1,2,Yes,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,Yes,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,Unknown,S
3,4,Yes,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,No,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,Unknown,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,No,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.00,Unknown,S
887,888,Yes,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.00,B42,S
888,889,No,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.70,1,2,W./C. 6607,23.45,Unknown,S
889,890,Yes,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.00,C148,C
890,891,No,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.75,Unknown,Q